@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
:root {
  --primary: hsl(300, 43%, 22%);
  --s-pink: hsl(333, 80%, 67%);
  --d-g-magenta: hsl(303, 10%, 53%);
  --l-g-magenta: hsl(300, 24%, 96%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
}

main {
  min-height: 100vh;
  position: relative;
}
main .bg {
  position: absolute;
  z-index: -1;
}
main .bg-top {
  top: 0;
  left: 0;
}
main .bg-bottom {
  bottom: 0;
  right: 0;
}
main .bg-top-mobile {
  display: none;
}
main .bg-bottom-mobile {
  display: none;
}
main .container {
  width: 100%;
  height: 100%;
  padding: 5rem 8rem;
  z-index: 1;
}
main .container .row1 {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
}
main .container .row1 .left {
  width: 50%;
  max-height: 100%;
}
main .container .row1 .left h1 {
  color: var(--primary);
  font-size: 3.6rem;
  width: 15ch;
  line-height: 3rem;
}
main .container .row1 .left p {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--d-g-magenta);
  width: 40ch;
}
main .container .row1 .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .container .row1 .right .ratings {
  background: var(--l-g-magenta);
  color: var(--primary);
  font-weight: 700;
  letter-spacing: 2px;
  padding: 1.2rem;
  align-items: center;
  gap: 30px;
  width: 75%;
  display: flex;
  border-radius: 10px;
}
main .container .row1 .right .ratings:nth-child(2) {
  position: relative;
  left: 5rem;
}
main .container .row1 .right .ratings:last-child {
  position: relative;
  left: 10rem;
}
main .container .row2 {
  display: flex;
  gap: 30px;
  min-height: 200px;
  padding-bottom: 4rem;
}
main .container .row2 .reviews {
  position: relative;
  background: var(--primary);
  padding: 2rem 1.9rem;
  border-radius: 10px;
}
main .container .row2 .reviews:nth-child(2) {
  top: 2rem;
}
main .container .row2 .reviews:nth-child(3) {
  top: 4rem;
}
main .container .row2 .reviews .profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
main .container .row2 .reviews .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
main .container .row2 .reviews .profile p {
  color: var(--s-pink);
}
main .container .row2 .reviews .profile p span {
  font-weight: 700;
  color: #fff;
}
main .container .row2 .reviews .content {
  margin-top: 1.6rem;
  padding-bottom: 1rem;
}
main .container .row2 .reviews .content p {
  color: #fff;
}

@media screen and (max-width: 991px) {
  main .container {
    padding: 3rem 5rem;
  }
  main .container .row1 .right {
    align-items: end;
  }
  main .container .row1 .right .ratings:nth-child(2) {
    position: relative;
    left: 0rem;
  }
  main .container .row1 .right .ratings:last-child {
    position: relative;
    left: 0rem;
  }
}
@media screen and (max-width: 840px) {
  main .bg {
    display: none;
  }
  main .bg-top-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  main .bg-bottom-mobile {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  main .container {
    padding: 2rem;
  }
  main .container .row1 {
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  main .container .row1 .left {
    width: 100%;
  }
  main .container .row1 .left h1 {
    width: 100%;
    text-align: center;
  }
  main .container .row1 .left p {
    width: 100%;
    text-align: center;
  }
  main .container .row1 .right {
    width: 100%;
    align-items: center;
    margin-top: 2rem;
  }
  main .container .row1 .right .ratings {
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  main .container .row2 {
    flex-direction: column;
    padding-top: 4rem;
  }
}/*# sourceMappingURL=style.css.map */